<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856579252577-qq39tke592prm7tf7ot10fasc7nlsei5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856579252577-qq39tke592prm7tf7ot10fasc7nlsei5</string>
	<key>API_KEY</key>
	<string>AIzaSyDmtMu59p2aAcaXNgpNNDXGydYRioBLCJU</string>
	<key>GCM_SENDER_ID</key>
	<string>856579252577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkondo.TinderApp-MVVM</string>
	<key>PROJECT_ID</key>
	<string>tinderapp-mvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderapp-mvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856579252577:ios:f6397923865b03d6072520</string>
</dict>
</plist>